NODE_ENV=development
DATABASE_URL="postgresql://postgres:postgres@127.0.0.1:5432/expense_tracker_local_dev?schema=public"
JWT_SECRET="local-development-secret-change-before-production-32chars"
JWT_EXPIRES_IN="7d"
PORT=3108
CLIENT_ORIGIN="http://localhost:5173,http://127.0.0.1:5173,http://localhost:5190,http://127.0.0.1:5190"
TRUST_PROXY="false"
